html {
    margin: 0;
    padding: 0;
}

body {
    font-size:16px;
    margin: 0;
    padding: 0;

}


.container {
    display: flex;
    flex-direction: row;
    max-width: 90vw;
}


/* sidebar */

.sidebar-container {
    width: 20%;
    display: flex;
    flex-direction: column;
    -webkit-text-size-adjust: 100%;
    font-family: Verdana,sans-serif;
    line-height: 1.5;
    font-size: 18px!important;
    color: #fff!important;
    font-weight: bold;
    box-sizing: inherit;
    z-index: 3;
    background-color: #f54257;
    
}

.sidebar-items{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    position: sticky;
    top: 0;
}

.sidebar-item{
    -webkit-text-size-adjust: 100%;
    font-family: Verdana,sans-serif;
    line-height: 1.5;
    font-size: 18px!important;
    font-weight: bold;
    box-sizing: inherit;
    overflow: hidden;
    text-decoration: none;
    cursor: pointer;
    width: 100%;
    padding: 8px 16px;
    text-align: left;
    color: snow;
}

/* Main */

.main-container {
    width: 80%;
    display: flex;
    flex-direction: column;
}

/* week schedule */

.current-week {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.week-schedule {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 1rem 0;
    overflow-x: auto;
}

/* health */

.health-charts{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 1rem 0;
    overflow-x: auto;
}