/* From Uiverse.io by Yaya12085 */ 
.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 350px;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    position: relative;
    margin: 1em;
    min-width: 30vw;
    border: rgb(226, 33, 33) 5px solid;
  }
  
  .title {
    font-size: 28px;
    color: rgb(230, 71, 50);
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    /* padding-left: 30px; */
    align-self: center;
  }
  
  .message, .signin {
    color: rgba(88, 87, 87, 0.822);
    font-size: 14px;
  }
  
  .signin {
    text-align: center;
  }
  
  .signin a {
    color: rgb(212, 73, 55);
  }
  
  .signin a:hover {
    text-decoration: underline royalblue;
  }
  
  .flex {
    display: flex;
    width: 100%;
    gap: 6px;
  }
  
  .form label {
    position: relative;
  }
  
  .form label .input {
    width: 90%;
    padding: 10px 10px 20px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
  }
  
  .form label .input + span {
    position: absolute;
    left: 10px;
    top: 15px;
    color: grey;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
  }
  
  .form label .input:placeholder-shown + span {
    top: 15px;
    font-size: 0.9em;
  }
  
  .form label .input:focus + span,.form label .input:valid + span {
    top: 30px;
    font-size: 0.7em;
    font-weight: 600;
  }
  
  .form label .input:valid + span {
    color: green;
  }
  
  .submit {
    border: none;
    outline: none;
    background-color: rgb(230, 71, 50);
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    transform: .3s ease;
    cursor: pointer;
  }
  
  .submit:hover {
    background-color: rgb(214, 101, 86);
  }
  
.container{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

body{
    overflow: hidden;
}

.form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80vw;
}

@media screen and (max-width: 1180px) {
  .container{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
  }

  .form-container{
    width: 100%;
  }

  .form{
    min-width: 50vw;
  }

}

/* Mobile */

@media screen and (max-width: 480px){
  .container{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
  }

  .form-container{
    width: 100%;
  }

  .form{
    min-width: 50vw;
  }

}